<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfSampleGameDataToolGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfSampleGameDataToolGUI.Properties.Settings>
            <setting name="bIsMaximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="strRecentPKDPaths" serializeAs="String">
                <value />
            </setting>
            <setting name="strLastAccessedFolder" serializeAs="String">
                <value />
            </setting>
        </WpfSampleGameDataToolGUI.Properties.Settings>
    </userSettings>
</configuration>